<!DOCTYPE html>
<html ng-app="lojaApp" ng-controller="lojaCtrl">
    <head>
        <meta charset="UTF-8">
        <title>Minha Loja</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="js/libs/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="js/libs/twitter-bootstrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Minha Loja</h1>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h2>Filtros</h2>
                        <form action="#">
                            <div class="form-group">
                                <label for="min">Preço Mínimo: {{min | currency}}</label>
                                <input type="range" id="min" class="form-control" min="0" max="10000" value="0" ng-model="min">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="max">Preço Máximo  {{max | currency}}</label>
                                    <input type="range" id="max" class="form-control" min="0" max="10000" value="10000" ng-model="max">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <h2>Produtos</h2>
                        <ul id="produtos">
                            <li ng-repeat="p in produtos">{{p.nome}} - {{p.preco | currency}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/libs/jquery/jquery.js" type="text/javascript"></script>
        <script src="js/libs/twitter-bootstrap/js/bootstrap.js" type="text/javascript"></script>
        <script src="js/libs/angular.js/angular.js" type="text/javascript"></script>
        <script src="js/loja.js" type="text/javascript"></script>
    </body>
</html>
