<div class="col-xs-12 col-sm-3">
    <h2>Filtros</h2>
    <form action="#">
        <div class="form-group">
            <label for="min">Preço Mínimo: R$ <span id="minPreco"></span>,00</label>
            <input type="range" id="min" class="form-control" min="0" max="10000" value="0">
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="max">Preço Máximo R$ <span id="maxPreco"></span>,00</label>
                <input type="range" id="max" class="form-control" min="0" max="10000" value="10000">
            </div>
        </div>
    </form>
</div>
<div class="col-xs-12 col-sm-9">
    <h2>Produtos</h2>
    <div class="row" id="produtos"></div>
</div>